name: Robot Framework CI/CD

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  robot_test_execution:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4
        
      - name: Configurar Node.js (Para Aplicação Organo)
        uses: actions/setup-node@v4
        with:
          node-version: '18' 
          
      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          
      - name: Instalar Dependências da Aplicação (organo) e Iniciar o Servidor
        run: |
          echo "Acessando o diretório da aplicação e instalando Node/NPM..."
          cd organo/
          npm install
          
          # Tentativa de aumentar o tempo de espera para evitar CONNECTION_REFUSED
          npm start &
          
          echo "Aguardando 30 segundos para o servidor iniciar completamente..."
          sleep 30s # Aumentado para 30s como medida de segurança

      - name: Instalar Dependências do Robot Framework
        run: |
          python -m pip install --upgrade pip
          pip install robotframework robotframework-seleniumlibrary robotframework-faker
          
      - name: Criar Diretório de Resultados
        run: mkdir -p test_results

      - name: Executar Testes Robot
        run: |
          robot -d ./test_results ./testes/
        env:
          BASE_URL: http://localhost:3000/

      - name: Upload dos Artefatos (Relatórios)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: robot-reports
          path: test_results/
          retention-days: 5